@model PoliceApp.WEB.Models.Station

<h2>StationsEdit</h2>

@using (Html.BeginForm("Edit", "Stations"))
{
    @Html.ValidationSummary()

    @Html.AntiForgeryToken()

    @Html.HiddenFor(m => m.StationId)

    @Html.Hidden("editAction", ViewData["editAction"].ToString());

    <div class="editor-label">@Html.LabelFor(m => m.StationName)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StationName)</div>

    <div class="editor-label">@Html.LabelFor(m => m.StationCity)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StationCity)</div>

    <div class="editor-label">@Html.LabelFor(m => m.StationPhone)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StationPhone)</div>

    <div class="editor-label">@Html.LabelFor(m => m.StationAddress)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StationAddress)</div>

    <div class="editor-label">@Html.LabelFor(m => m.StationPostCode)</div>
    <div class="editor-field">@Html.EditorFor(m => m.StationPostCode)</div>

    <input type="submit" value="SEND" />
}